.usertitle {
  position: absolute;
  margin-top: -500px;
  font-size: 50px;
  margin-left: 550px;
}

.userdata {
  position: absolute;
  margin-top: -400px;
  font-size: 30px;
  margin-left: 550px;
}

.userdata div {
  font-size: 30px;
}
