.login-btn {
}

.signup-btn {
}

.home-btn {
}
.searchBar {
  margin-right: 5px;
  padding: 4px;
  font-size: 17px;
  width: 250px;
  color: black;
}
.searchBar:hover {
  border: 2px solid springgreen;
}

.searchPic {
  margin-right: 200px;
  margin-bottom: -18.6px;
}

.searchPic:hover {
  background-color: springgreen;
  border-radius: 5px;
}

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

span {
  font-size: 40px;
  color: springgreen;
  font-family: "Raleway", sans-serif;
}
.wrapper {
  width: auto;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://cdn.pixabay.com/photo/2017/11/12/08/33/audio-2941713_1280.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: opacity(80%);
}
.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.logo {
  background-image: url("../Navigation/soundtrap.png");
  background-size: 100% 100%;
  font-family: "Open Sans", sans-serif;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  font-weight: 600;
  letter-spacing: 0.7rem;
  color: black;
  margin: 0;
}

.logo:hover {
  cursor: pointer;
  border: 2px solid springgreen;
}
.menu {
  display: inline-block;
  line-height: 80px;
}
.menu ul {
  list-style: none;
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 5px;
  transition: 0.5s ease;
}
.menu ul li a:hover {
  border-color: springgreen;
}
.menu ul li:nth-child(6) a {
  color: springgreen;
  border: 1px solid springgreen;
}
.menu ul li:nth-child(6) a:hover {
  color: black;
  background-color: springgreen;
}
.headerz {
  text-align: center;
}
.headerz h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  padding: 20% 20px 8px;
}
.headerz p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  padding: 10px 15px;
}
.explore {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: black;
  background-color: springgreen;
  padding: 20px 30px;
  margin: 50px 5px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
