.login-btn {
}

.signup-btn {
}

.home-btn {
}

.navstyle {
  margin-left: 100px;
}

.searchBar {
  margin-left: 100px;
  padding: 4px;
  font-size: 17px;
  width: 250px;
  color: black;
}
.searchBar:hover {
  border: 2px solid springgreen;
}

.searchBarli {
  margin-left: -100px;
}

.searchPic {
  margin-right: 200px;
  margin-bottom: -18.6px;
}

.searchPic:hover {
  background-color: springgreen;
  border-radius: 5px;
}

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Nerko+One&display=swap);

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Nerko One", cursive;
  font-size: 14px;
  scroll-behavior: smooth;
  text-decoration: none;
}

span {
  font-size: 40px;
  color: springgreen;
  font-family: "Nerko One", cursive;
  font-weight: bold;
}
.wrapper {
  width: auto;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://cdn.pixabay.com/photo/2017/11/12/08/33/audio-2941713_1280.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: opacity(80%);
}
.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 0 50px;
}

.navmenu {
  padding: 10px;
  /* justify-content: space-evenly; */
}
/* .logo {
  position: absolute;
  background: url("../Navigation/cloud.jpg");
  width: auto;
  height: auto;
} */
.logo {
  background: url("../Navigation/stackfm.png");
  background-size: 100% 100%;
  font-family: "Nerko One", cursive;
  height: 75px;
  width: 80px;
  font-weight: 600;
  letter-spacing: 0.7rem;
  margin: 0;
  border-radius: 10px;
  position: relative;
  image-rendering: -webkit-optimize-contrast;
}

.logo:hover {
  cursor: pointer;
  border: 2px solid springgreen;
}
.menu {
  display: inline-block;
  line-height: 80px;
}
.menu ul {
  list-style: none;
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.menu ul li {
  display: inline-block;
}
.menu ul li a,
.menu ul li a button {
  text-decoration: none;
  font-family: "Nerko One", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: springgreen;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 5px;
  transition: 0.5s ease;
}
.menu ul li a:hover,
.menu ul li a button:hover {
  border-color: springgreen;
}

.logoutbtn {
  color: violet;
}

.logoutbtn:hover {
  color: violet;
  border: 2px solid violet;
}

.menu ul li:nth-child(6) a {
  color: springgreen;
  border: 1px solid springgreen;
}

.menu ul li:nth-child(6) a:hover {
  color: black;
  background-color: springgreen;
}

.headerz {
  text-align: center;
}
.headerz h1 {
  font-family: "Nerko One", cursive;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  padding: 20% 20px 8px;
}
.headerz p {
  font-family: "Nerko One", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  padding: 10px 15px;
}
.explore {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: black;
  background-color: springgreen;
  padding: 20px 30px;
  margin: 50px 5px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.explore:hover {
  background-color: #177245;
}

.buttonz {
}

.bodynav {
  position: absolute;
  margin-top: -450px;
  margin-left: 500px;
}

.welcome {
  font-family: "Nerko One", cursive;
  font-size: 40px;
}

.whatsnext {
  font-size: 40px;
  font-family: "Nerko One", cursive;
}

.menubutton {
  position: absolute;
  margin-top: -16px;
  height: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 80px;
  background-color: springgreen;
}

.menubutton:hover {
  border: 1px solid springgreen;
  background-color: #177245;
}

.menubutton:active {
  border: 1px solid springgreen;
}

.menucontent {
  /* position: absolute; */
  margin-top: -45px;
  margin-left: 60px;
  font-size: 10px;
}

.profilebtn:hover {
  border: 1px solid springgreen;
}

.logoutbtn {
  margin-left: 50px;
  font-size: 20px;
  border-radius: 5px;
}

.profilebtn {
  margin-left: 10px;
}

.letsgo {
  color: black;
  font-size: 20px;
}
